<section class="traction-section">
  <div class="container traction-gradient">
    <h3 class="title">
      Traction
    </h3>
    <p class="subtitle">Our products and investments grossed 1.1 billion in 2022</p>

    <div class="content">
      <div class="row justify-content-center">
        <div class="col-12  col-lg-4">
          <div class="info-box investment">
            <p class="info-name">
              <span class="name">Investment in </span>
              <span class="heading">2022</span>
            </p>
            <h2 class="result">
              <img src="assets/images/naira.png" alt="Naira"> 100 M
            </h2>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="info-box risk">
            <p class="info-name">
              <span class="name">Risk </span>
              <span class="heading">Management</span>
            </p>
            <h2 class="result">
              0% Risk
            </h2>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="info-box investment-2">
            <p class="info-name">
              <span class="name">Investment </span>
              <span class="heading">paid back</span>
            </p>
            <h2 class="result">
              <img src="assets/images/naira.png" alt="Naira"> 100 M
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>