<section class="testimonial-section">
  <div class="container">
    <h3 class="title">
      Don’t Take Our <span>
        Word
      </span> For It
    </h3>
    <p class="subtitle">Listen to testimonials from Ardilla users building wealth</p>

    <div class="content">
      <div class="row">
        <div class="col-12  col-lg-4">
          <div class="info-box first-testimonial" [ngClass]="{active:isTestimonyActive}">
            <img src="assets/images/pix-1.png" class="user" alt="Testimonial pix">
            <img src="assets/images/video-icon.png" class="video-icon" alt="Video icon">
            <div class="details">
              <h3 class="name">MD - Miss Oyinye Dallas</h3>
              <p class="question">
                What is Ardila and it benefits?
              </p>
            </div>
          </div>
        </div>
        <div class="col-12  col-lg-4">
          <div class="info-box">
            <img src="assets/images/pix-2.png" class="user" alt="Testimonial pix">
            <img src="assets/images/video-icon.png" class="video-icon" alt="Video icon">
            <div class="details">
              <h3 class="name">MD - Miss Oyinye Dallas</h3>
              <p class="question">
                What is Ardila and it benefits?
              </p>
            </div>
          </div>
        </div>
        <div class="col-12  col-lg-4">
          <div class="info-box">
            <img src="assets/images/pix-3.png" class="user" alt="Testimonial pix">
            <img src="assets/images/video-icon.png" class="video-icon" alt="Video icon">
            <div class="details">
              <h3 class="name">MD - Miss Oyinye Dallas</h3>
              <p class="question">
                What is Ardila and it benefits?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>