<section class="testimonial-section">
  <div class="container">
    <div class="d-flex flex-wrap gap-5 justify-content-center align-items-center">

      <div class="image">
        <img src="assets/images/zikoko.png" alt="Investors Logo">
      </div>

      <div class="image">
        <img src="assets/images/tech-crunch.png" alt="Investors Logo">
      </div>


      <div class="image">
        <img src="assets/images/guardian.png" alt="Investors Logo">
      </div>

      <div class="image">
        <img src="assets/images/press-reviews.png" alt="Investors Logo">

      </div>
    </div>

    <div class="row">
      <div class="col-11 col-md-10 mx-auto">
        <div class="content">
          <h3 class="title">
            Also Available on the Web
          </h3>
          <p class="subtitle">
            Increase your bread & butter on the app or on the web.The Ardilla app services are also available on the
            web.
          </p>
          <img src="assets/images/access-more-clip.png" alt="landing clip">
        </div>
      </div>
    </div>
  </div>
</section>