<section class="investment-section">
  <div class="container">
    <div class="row align-items-center ">

      <div class="col-12 col-lg-8">
        <div class="content">
          <h3 class="title">
            Unlimited
            <span class="opportunity">
              Investment <br> Opportunities
            </span>
          </h3>
          <p class="subtitle">Plan towards your future by investing with ardilla, Grow your money confidently and
            securely with the available investment opportunities</p>
          <button class="invest-btn"> Invest with ardilla (Coming Soon)
            <span>
              <img src="assets/images/invest-icon.png" alt="investment-icon">
            </span></button>
        </div>
      </div>
    </div>
  </div>
</section>