<footer class="footer-section">
  <div class="container">
    <app-advert-card></app-advert-card>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="footer-list">
          <h3 class="title">
            Products
          </h3>
          <a class="list">
            Savings
          </a>
          <a class="list">
            Dilla
          </a>
          <a class="list">
            Financial Coach
          </a>
          <a class="list">
            Halal
          </a>
          <a class="list">
            Budgeting <span class="coming-soon">
              coming soon
            </span>
          </a>
          <a class="list">
            Investment <span class="coming-soon">
              coming soon
            </span>
          </a>
          <a class="list">
            Insurance <span class="coming-soon">
              coming soon
            </span>
          </a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-xl-2">
        <div class="footer-list">
          <h3 class="title">
            Company
          </h3>
          <a class="list">
            About Us
          </a>
          <a class="list">
            Careers
          </a>
          <a class="list">
            FAQs
          </a>
          <a class="list">
            Press
          </a>

        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-xl-2">
        <div class="footer-list">
          <h3 class="title">
            Transparency
          </h3>
          <a class="list">
            Terms & conditions
          </a>
          <a class="list">
            Information security policy
          </a>
          <a class="list">
            Privacy policy
          </a>
          <a class="list">
            Interest Tool
          </a>

        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-xl-2">
        <div class="footer-list">
          <h3 class="title">
            Developer
          </h3>

          <a class="list">
            Connect API <span class="coming-soon">
              coming soon
            </span>
          </a>

        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="footer-list">
          <h3 class="title">
            Address
          </h3>

          <p class="list">
            33B, Ogundana street, Allen, Ikeja.
          </p>

        </div>
        <div class="footer-list">
          <h3 class="title">
            Contact
          </h3>

          <p class="list">
            support@ardilla.africa
          </p>
          <p class="list">
            (234)801 000 1234
          </p>

        </div>
      </div>
    </div>

    <div class="copyright-content">
      <p class="copyright">
        © 2023 Ardilla. All right reserved
      </p>
      <div class="socials">
        <span>
          <img src="assets/images/instagram.png" alt="Instagram">
        </span>
        <span>
          <img src="assets/images/facebook.png" alt="Facebook">
        </span>
        <span>
          <img src="assets/images/linkedin.png" alt="Linkedin">
        </span>
        <span>
          <img src="assets/images/twitter.png" alt="Twitter">
        </span>
      </div>
    </div>
    <p class="notice">
      Ardilla operates under the cor-operative license of Ardilla Multipurpose Cooperative Society, LSC 18245, We
      provide Savings and Fixed deposit services to our users
    </p>
  </div>
</footer>