<section class="interest-calculator-section">
  <div class="container">
    <div class="row align-items-center ">

      <div class="col-12 col-lg-6">
        <div class="content">
          <h3 class="title">
            We’re Keen On <br>
            <h3 class="transparency">
              Transparency
            </h3>
          </h3>
          <p class="subtitle"> Calculate your interests every time you save on our platform</p>

          <button class="get-started">Get Started</button>

        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="interest-calculator-container text-center">
          <img src="assets/images/interest-calculator.png" alt="product-img">
        </div>
      </div>
    </div>
  </div>
</section>